<style>
    div.attractions {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 50px;
    }
</style>

<div class="attractions">
    <p style="font-family: verdana">
        <a href={{attraction_one_url}}> {{attraction_one}}</a>: {{attraction_one_description}}
    </p>
    <p style="font-family: verdana">
        <a href={{attraction_two_url}}> {{attraction_two}}</a>: {{attraction_two_description}}
    </p>
    <p style="font-family: verdana">
        <a href={{attraction_three_url}}> {{attraction_three}}</a>: {{attraction_three_description}}
    </p>
    <p style="font-family: verdana">
        <a href={{attraction_four_url}}> {{attraction_four}}</a>: {{attraction_four_description}}
    </p>
    <p style="font-family: verdana">
        <a href={{attraction_five_url}}> {{attraction_five}}</a>: {{attraction_five_description}}
    </p>
</div>
